CameraApp/DerivedData/CameraApp/Build/Intermediates/CameraApp.build/Debug-iphoneos/CameraApp.build/CameraApp-all-target-headers.hmap
CameraApp/DerivedData/CameraApp/Build/Intermediates/CameraApp.build/Debug-iphoneos/CameraApp.build/CameraApp-generated-files.hmap
CameraApp/DerivedData/CameraApp/Build/Intermediates/CameraApp.build/Debug-iphoneos/CameraApp.build/CameraApp-own-target-headers.hmap
CameraApp/DerivedData/CameraApp/Build/Intermediates/CameraApp.build/Debug-iphoneos/CameraApp.build/CameraApp-project-headers.hmap
CameraApp/DerivedData/CameraApp/Build/Intermediates/CameraApp.build/Debug-iphoneos/CameraApp.build/CameraApp.hmap
CameraApp/DerivedData/CameraApp/Build/Intermediates/CameraApp.build/Debug-iphoneos/CameraAppTests.build/CameraAppTests-all-target-headers.hmap
CameraApp/DerivedData/CameraApp/Build/Intermediates/CameraApp.build/Debug-iphoneos/CameraAppTests.build/CameraAppTests-generated-files.hmap
CameraApp/DerivedData/CameraApp/Build/Intermediates/CameraApp.build/Debug-iphoneos/CameraAppTests.build/CameraAppTests-own-target-headers.hmap
CameraApp/DerivedData/CameraApp/Build/Intermediates/CameraApp.build/Debug-iphoneos/CameraAppTests.build/CameraAppTests-project-headers.hmap
CameraApp/DerivedData/CameraApp/Build/Intermediates/CameraApp.build/Debug-iphoneos/CameraAppTests.build/CameraAppTests.hmap
CameraApp/DerivedData/CameraApp/Index/PrecompiledHeaders/CameraApp-Prefix-gsjpyztssehytzfafweczyasdszg_ast/CameraApp-Prefix.pch.pch.hash-criteria
CameraApp/DerivedData/CameraApp/Index/PrecompiledHeaders/CameraApp-Prefix-gsjpyztssehytzfafweczyasdszg_ast/CameraApp-Prefix.pch.pch.target
CameraApp/DerivedData/CameraApp/TextIndex/text-index.idx
CameraApp/DerivedData/ModuleCache/1983IVH4ULYWO/CFNetwork.pcm
CameraApp/DerivedData/ModuleCache/1983IVH4ULYWO/CoreFoundation.pcm
CameraApp/DerivedData/CameraApp/Index/PrecompiledHeaders/CameraApp-Prefix-cvvwoptsamqnchanqletwjpglqqc_ast/CameraApp-Prefix.pch.pch
CameraApp/DerivedData/CameraApp/Index/PrecompiledHeaders/CameraApp-Prefix-cvvwoptsamqnchanqletwjpglqqc_ast/CameraApp-Prefix.pch.pch.hash-criteria
CameraApp/DerivedData/CameraApp/Index/PrecompiledHeaders/CameraApp-Prefix-cvvwoptsamqnchanqletwjpglqqc_ast/CameraApp-Prefix.pch.pch.target
CameraApp/DerivedData/CameraApp/Index/PrecompiledHeaders/CameraApp-Prefix-gsjpyztssehytzfafweczyasdszg_ast/CameraApp-Prefix.pch.pch
CameraApp/DerivedData/ModuleCache/1983IVH4ULYWO/CoreGraphics.pcm
CameraApp/DerivedData/ModuleCache/1983IVH4ULYWO/CoreImage.pcm
CameraApp/DerivedData/ModuleCache/1983IVH4ULYWO/CoreText.pcm
CameraApp/DerivedData/ModuleCache/1983IVH4ULYWO/CoreVideo.pcm
CameraApp/DerivedData/ModuleCache/1983IVH4ULYWO/Darwin.pcm
CameraApp/DerivedData/ModuleCache/1983IVH4ULYWO/Dispatch.pcm
CameraApp/DerivedData/ModuleCache/1983IVH4ULYWO/Foundation.pcm
CameraApp/DerivedData/ModuleCache/1983IVH4ULYWO/ObjectiveC.pcm
CameraApp/DerivedData/ModuleCache/1983IVH4ULYWO/OpenGLES.pcm
CameraApp/DerivedData/ModuleCache/1983IVH4ULYWO/QuartzCore.pcm
CameraApp/DerivedData/ModuleCache/1983IVH4ULYWO/Security.pcm
CameraApp/DerivedData/ModuleCache/1983IVH4ULYWO/UIKit.pcm
CameraApp/DerivedData/ModuleCache/1983IVH4ULYWO/XCTest.pcm
CameraApp/DerivedData/ModuleCache/1983IVH4ULYWO/modules.idx
CameraApp/DerivedData/ModuleCache/1983IVH4ULYWO/os.pcm
CameraApp/DerivedData/ModuleCache/G6TB7UBE9OM6/CFNetwork.pcm
CameraApp/DerivedData/ModuleCache/G6TB7UBE9OM6/CoreFoundation.pcm
CameraApp/DerivedData/ModuleCache/G6TB7UBE9OM6/CoreGraphics.pcm
CameraApp/DerivedData/ModuleCache/G6TB7UBE9OM6/CoreImage.pcm
CameraApp/DerivedData/ModuleCache/G6TB7UBE9OM6/CoreText.pcm
CameraApp/DerivedData/ModuleCache/G6TB7UBE9OM6/CoreVideo.pcm
CameraApp/DerivedData/ModuleCache/G6TB7UBE9OM6/Darwin.pcm
CameraApp/DerivedData/ModuleCache/G6TB7UBE9OM6/Dispatch.pcm
CameraApp/DerivedData/ModuleCache/G6TB7UBE9OM6/Foundation.pcm
CameraApp/DerivedData/ModuleCache/G6TB7UBE9OM6/ObjectiveC.pcm
CameraApp/DerivedData/ModuleCache/G6TB7UBE9OM6/OpenGLES.pcm
CameraApp/DerivedData/ModuleCache/G6TB7UBE9OM6/QuartzCore.pcm
CameraApp/DerivedData/ModuleCache/G6TB7UBE9OM6/Security.pcm
CameraApp/DerivedData/ModuleCache/G6TB7UBE9OM6/UIKit.pcm
CameraApp/DerivedData/ModuleCache/G6TB7UBE9OM6/modules.idx
CameraApp/DerivedData/ModuleCache/G6TB7UBE9OM6/os.pcm
CameraApp/DerivedData/ModuleCache/modules.timestamp
